*{
    margin: 0;
    padding: 0;
}

/* Font item open */
.open-sans-noto {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* font item close */
/* Basic Style open */
.color-primary{
    color: #E95A08;
}
.flex{
    display: flex;
}
.theme-width{
    max-width: 1140px;
    margin: 0 auto;
}
.center{
    text-align: center;
}
/* Basic Style close */

/* header section start */

.header-item{
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px;
}

.nav-item ul{
    list-style-type: none;

}

.nav-item ul li{
    margin-right: 48px;
}
/* header banner section */

.banner-section{
    margin: 225px auto 120px ;
}

.banner-text{
 margin-top: auto;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
}

.banner-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
}

/* header item end */

/* our plant section start */
.plant-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.plant-title{
    font-size: 50px;
    font-weight: bold;
}
.plant-description{
    max-width: 888px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}
.plant-container{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr)); 
    gap: 20px;
    margin: 50px auto;
}
.card img{
    width: 100%;
    height: auto;
}
.plant-name{
    font-size: 22px;
    font-weight: 500px;
    color: #111111;
}
.plant-rate{
    font-size: 22px;
    font-weight: bold;
    color: #111111;
}

.btn-primary{
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 19px;
    width: 100%;
    
}



@media screen and (max-width: 576px) {
    .hide{
        display: none;
    }
    .header-item{
        margin: 20px;
    }
    .nav-item ul li{
    margin-right: 0px;
}
    .banner-section{
        flex-direction: column-reverse;
        margin: 30px auto;
    }
    .banner-title{
        font-size: 24px;
    }
    .banner-description{
        font-size: 12px;
    }
    .banner-text{
        padding: 12px;
    }
    .banner-image img{
        max-width: 100%;
        height: auto;
    }
    .plant-container{
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 20px;
    }

}