*{
    margin: 0;
    padding: 0;
}

/* Font item open */
.open-sans-noto {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* font item close */
/* Basic Style open */
.color-primary{
    color: #E95A08;
}
.flex{
    display: flex;
}
.theme-width{
    max-width: 1140px;
    margin: 0 auto;
}
.center{
    text-align: center;
}
/* Basic Style close */

/* header section start */

.header-item{
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px;
}

.nav-item ul{
    list-style-type: none;

}

.nav-item ul li{
    margin-right: 48px;
}
/* header banner section */

.banner-section{
    margin: 225px auto 120px ;
}

.banner-text{
 margin-top: auto;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
}

.banner-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
}

/* header item end */

/* our plant section start */
.plant-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.plant-title, .deal-title{
    font-size: 50px;
    font-weight: bold;
}
.plant-description, .deal-description{
    max-width: 888px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}
.plant-container{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr)); 
    gap: 20px;
    margin: 50px auto;
}
.card img{
    width: 100%;
    height: auto;
}
.plant-name{
    font-size: 22px;
    font-weight: 500px;
    color: #111111;
}
.plant-rate{
    font-size: 22px;
    font-weight: bold;
    color: #111111;
}

.btn-primary{
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 19px;
    width: 100%;
    
}

.btn-primary:hover{
    cursor: pointer;
}
/* card section end */
/* flower-lover-section start */

.flower-store{
    height: 540px;
    width: auto;
}
.plant-lover-section{
    margin-top: 200px;
    gap: 60px;
    justify-content: space-between;
    align-items: center;
}
.lover-header{
    font-size: 60px;
    font-weight: bold;
}

.lover-text ul{
    padding: 20px;
    
}
.lover-text ul li{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}
.lover-image{
    position: relative;
    
}
.trusted-badge{
    position: absolute;
    top: -80px;
    right: -80px;
    width: 200px;
    height: auto;
}


/* deal section */
.lates-deal-section{
    margin: 125px auto;
}
.card-1{
    background-image: url(assets/deal-bloom.png);
    height: 200px;
    width: 360px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: white;
    position: relative;
  
}
.card-2{
    background-image: url(assets/deal-ana.png);
    height: 200px;
    width: 360px;
    border-radius: 10px;
    width: 360px;
    border-radius: 10px;
    color: white;
    background-repeat: no-repeat;
    position: relative;
}


.color{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.single-card{
    background-image: url(assets/deal-zabo.png);
    margin-left: 20px;
    width: 100%;
    height: auto;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}
.card-right{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: white;
    justify-content: center;
    align-items: center;
}
.discount-style{
    font-size: 40px;
    font-weight: bold;
}
.inside-card-right{
    font-size: 28px;
    font-weight: 600;
    color: white;
}


.card-item{
    margin-top: 120px;
}
.inside-card{
    color: white;
}
/* Challange part complete */
/* join section start */
.join-section{
    width: 100wh;
    height: 530px;
    background-image: url(assets/news-letter-bg.png);
    position: relative;
}
.join-item{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join-header{
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}
.input-box{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}
.input-text{
    display: flex;
    margin-left: 36px;
    padding: 20px 20px ;
    width: 100%;
    max-width: 550px;
    
}
.subscribe{
    width: 185px;
    margin-right: 36px;
}







@media screen and (max-width: 576px) {
    .hide{
        display: none;
    }
    .header-item{
        margin: 20px;
    }
    .nav-item ul li{
    margin-right: 0px;
}
    .banner-section{
        flex-direction: column-reverse;
        margin: 30px auto;
    }
    .banner-title{
        font-size: 24px;
    }
    .banner-description{
        font-size: 12px;
    }
    .banner-text{
        padding: 12px;
    }
    .banner-image img{
        max-width: 100%;
        height: auto;
    }
    .plant-container{
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 20px;
    }
    .plant-lover-section{
        flex-direction: column;
        margin-top: 40px;
        padding: 20px;
    }
    .lover-image img{
        width: 100%;
        height: auto;
    }
    .card-1, .card-2{
        margin: 10px auto;
        margin-top: 20px;
    }
    .lates-deal-section{
        margin: 30px auto;
    }
    .card-item{
        flex-direction: column;
        margin-top: 20px;
    }
    .deal-info{
        width: 100wh;
        padding: 5px;
    }
    .deal-description{
        width: 100%;
    }
    .single-card{
        height: 200px;
        width: 360px;
        margin: 10px auto;
    }
    .discount-style{
        font-size: 20px;
        font-weight: bold;
    }
    .inside-card-right{
        font-size: 16px;
    }
    .join-header{
        font-size: 20px;
    }
    .join-section{
        height: 275px;
        background-size: cover ;
    }
}